body {
    margin: 0;
    overflow: hidden;
}
.error-log {
    width: 100%;
    height: 25%;
    background-color: antiquewhite;
    overflow: auto;
}

.error-log-table {
    width: 100%;
}

.error-log-table th{
    text-align: left;
}

.error-log-table td{
    word-break: break-all;
}

.error-log-table .service{
    width: 30%;
}

.error-log-table .log-level {
    width: 10%;
}

.error-log-table .date {
    width: 20%;
}

.error-log-table .message {
    width: 40%;
}

.service-log {
    width: 100%;
    height: 75%;
    background-color: blanchedalmond;
    overflow: auto;
    border-top: 3px solid black;
}

.service-log-table {
    width: 100%;
}

.service-log-table th{
    text-align: left;
}

.service-log-table td{
    word-break: break-all;
}

.service-log-table .log-level {
    width: 10%;
}

.service-log-table .date {
    width: 20%;
}

.service-log-table .message {
    width: 70%;
}