html
    head
        title asdasdasd
        link(rel='stylesheet', href='/css/index.css')
    body
        .error-log
            table.error-log-table
                tr
                    th.service Service Name
                    th.log-level Log level
                    th.date Date
                    th.message Message
                each error in errorLog
                    tr
                        td.service=error.serviceName
                        td.log-level=error.level
                        td.date=error.timestamp
                        td.message=error.message
        .service-log
            script.
                function getLogs() {
                  const selectedServiceName = document.getElementById('serviceSelect').value;
                  const selectedLogLevel = document.getElementById('logLevelSelect').value;
                  const selectedDateFrom = document.getElementById('dateFrom').value;
                  const selectedDateUntil = document.getElementById('dateUntil').value;
                  window.location.href = `dashboard?serviceName=${selectedServiceName}&logLevel=${selectedLogLevel}&dateFrom=${selectedDateFrom}&dateUntil=${selectedDateUntil}`;
                }

            label(for='serviceSelect') Service:
            select(id='serviceSelect')
                option
                each serviceName in serviceList
                    option(value=serviceName)=serviceName
            label(for='logLevelSelect') Log Level:
            select(id='logLevelSelect')
                option
                each logLevel in logLevelList
                    option(value=logLevel)=logLevel
            input(type='datetime-local' id='dateFrom')
            input(type='datetime-local' id='dateUntil')

            button(onclick='getLogs()') Get logs

            table.service-log-table
                tr
                    th.log-level Log level
                    th.date Date
                    th.message Message
                each logEntry in serviceLog
                    tr
                        td.log-level=logEntry.level
                        td.date=logEntry.timestamp
                        td.message=logEntry.message
            script.
              const params = new URL(window.location.href).searchParams;
              document.getElementById('serviceSelect').value = params.get('serviceName');
              document.getElementById('logLevelSelect').value = params.get('logLevel');
              document.getElementById('dateFrom').value = params.get('dateFrom');
              document.getElementById('dateUntil').value = params.get('dateUntil');